<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @todo.title %>
</p>

<p>
  <b>Content:</b>
  <%= @todo.content %>
</p>

<h2>Comments</h2>
<% @todo.comments.each do |comment| %>
  <p>
    <b>Commenter:</b>
    <%= comment.commenter %>
  </p>
 
  <p>
    <b>Comment:</b>
    <%= comment.body %>
  </p>
  
  <p>
  <%= link_to 'Delte Comment', [comment.todo, comment],
               :confirm => 'Are you sure?',
               :method => :delete %>
  </p>
<% end %>

<h2>Add a comment:</h2>
<%= form_for([@todo, @todo.comments.build]) do |f| %>
  <div class="field">
    <%= f.label :commenter %><br />
    <%= f.text_field :commenter %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Edit', edit_todo_path(@todo) %> |
<%= link_to 'Back', todos_path %>
